
/* 기본 사이트 서식 */

.ffxi-text::selection {
    color: #f8f9fa;
    font-weight: bold;
    background-color: #212529;
}


/* 폰트 임포트 */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&family=Lato:wght@400;700&family=Murecho:wght@100..900&display=swap');

/* 영문 폰트 Lato */

.font-en-r {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
}

.font-en-b {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
}

/* 일본어 폰트 Murecho */

.font-jp-r {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
}

.font-jp-b {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
}

/* 한글 폰트 IBM Plex Sans KR */

.font-kr-r {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
}

.font-kr-b {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
}


/* 폰트 크기 관련 */

.font-menu {
    font-size: 16.5px;
}

.font-xxl {
    font-size: 36px;
}

.font-xl {
    font-size: 24px;
}

.font-lg {
    font-size: 20px;
}

.font-md {
    font-size: 15.5px;
}

.font-sm {
    font-size: 14px;
}

.font-xs {
    font-size: 13px;
}


/* 폰트 강조 */

.text-readme {
    text-decoration: underline;
    padding: 2px;
}


/* 서브 메뉴 호버 */

.drop-hover:hover {
    background-color: #212529;
    color: #f8f9fa;
}


/* 구분선 */

.width-line {
    display: block;
    width: 100%;
    height: 0.2px;
    background-color: #dddddd;
    margin: 25px auto;
}

.width-line-brown {
    display: block;
    width: 100%;
    height: 0.2px;
    background-color: rgba(107, 64, 50, 0.2);
    margin: 25px auto;
}


/* 폰트 커스텀 색상 */

.text-gray {
    color: #bbbbbb;
}

.text-darkgray {
    color: #777777;
}

.text-brown {
    color: #6b4032;
}


/* 테두리 커스텀 색상 */

.border-brown {
    border-color: #6b4032;
}


/* 버튼 커스텀 */

.btn-brown {
    background-color: none;
}

.btn-brown:hover {
    background-color: #6b4032;
    color: #fffdf5;
}


/* 이미지 관련 - 사이즈, 테두리 */

.ffxi-img-90 {
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

.ffxi-img-98 {
    display: block;
    width: 98%;
    margin: auto;
    border-radius: 20px;
}

.ffxi-img-100 {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}


/* 콜아웃 */

.call-out {
    margin: 16.5px 0;
    padding: 25px 40px;
    background-color: #fafafa;
    border: 2px solid #dddddd;
    border-radius: 20px;
}


/* 최신 업데이트 */

.ffxi-updated {
    margin: 30px 0;
    padding: 25px 40px;
    background-color: #fffdf5;
    border: 2px solid #ffddbf;
    border-radius: 20px;
    color: #6b4032;
}


/* 목차 카운터 */

body {
    counter-reset: my-sec-counter;
}

.ffxi-wiki::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
}


/* 링크 서식 지우기 & 목차 호버 */

.link-none {
    text-decoration: none;
    color: #212529;
    display: block;
    padding: 7.5px 15px 5px;
    margin: 5px 0;
}

.link-none:hover {
    background-color: #fff2d2;
    color: #6b4032;
}

.link-none-btn {
    text-decoration: none;
}


/* 본문 텍스트 박스 */

.ffxi-guide {
    width: 90%;
    padding: 15px 20px;
}

.ffxi-guide-100 {
    width: 100%;
    padding: 15px 20px;
}


/* 하단부 상단 마진 */

.footer-margin-t {
    margin: 80px 0 0;
}


/* 여백 관련 (반응형 대응) */

.ffxi-header {
    padding: 10px 120px;
    margin: 0;
}

.ffxi-template {
    padding: 0 135px;
    margin: 0;
}

.ffxi-title {
    margin: 0 15px;
}

.ffxi-footer {
    padding: 50px 120px;
    margin: 50px 0 0;
}

/* 태블릿 대응 */
@media screen and (max-width:1200px) {

    /* 여백 */

    .ffxi-header {
        padding: 10px 70px;
        margin: 0;
    }

    .ffxi-template {
        padding: 0 70px;
        margin: 0;
    }

    .ffxi-footer {
        padding: 35px 70px;
        margin: 50px 0 0;
    }

    /* 폰트 사이즈 */

    .font-menu {
        font-size: 15px;
    }
        
    .font-xxl {
        font-size: 32px;
    }

    .font-xl {
        font-size: 22px;
    }

    .font-lg {
        font-size: 18px;
    }

    .font-md {
        font-size: 15px;
    }

    .font-sm {
        font-size: 14px;
    }

    .font-xs {
        font-size: 13px;
    }

    /* 본문 텍스트 박스 */

    .ffxi-guide {
        padding: 5px 10px;
    }

    .ffxi-guide-100 {
        padding: 5px 10px;
    }

    /* 구분선 */

    .width-line {
        height: 0.5px;
    }

    .width-line-brown {
        height: 0.5px;
    }

    /* 콜아웃 */

    .call-out {
        padding: 25px 25px;
        border-radius: 15px;
    }

    /* 최신 업데이트 */

    .ffxi-updated {
        padding: 25px 25px;
        border-radius: 15px;
    }

}

/* 모바일 대응 */
@media screen and (max-width:665px) {

    /* 여백 */

    .ffxi-header {
        padding: 8px 25px;
        margin: 0;
    }

    .ffxi-template {
        padding: 0 25px;
        margin: 0;
    }

    .ffxi-footer {
        padding: 30px 40px;
        margin: 50px 0 0;
    }

    /* 폰트 사이즈 */

    .font-menu {
        font-size: 16.5px;
    }
        
    .font-xxl {
        font-size: 22px;
    }

    .font-xl {
        font-size: 18px;
    }

    .font-lg {
        font-size: 16px;
    }

    .font-md {
        font-size: 15px;
    }

    .font-sm {
        font-size: 13.5px;
    }

    .font-xs {
        font-size: 12px;
    }

    /* 본문 텍스트 박스 */

    .ffxi-guide {
        padding: 0px 5px;
    }

    .ffxi-guide-100 {
        padding: 0px 5px;
    }

    /* 구분선 */

    .width-line {

        height: 0.75px;
    }

    .width-line-brown {
        height: 0.75px;
    }
}

/* 와이드 모니터 */
@media screen and (min-width:1440px) {
    
    .widscreen {
        width: 1440px;
        margin: auto;
    }

}
